<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>171815273670-s91hadi688bp0ic14qmf4ngr2b8kc366.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.171815273670-s91hadi688bp0ic14qmf4ngr2b8kc366</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>171815273670-uedp4n34295ft2ubqmqbig223dfecc3s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBlU4FUbkJ64xtFIb-IkWGE_ztfugRAnhw</string>
	<key>GCM_SENDER_ID</key>
	<string>171815273670</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hyperGarageSale</string>
	<key>PROJECT_ID</key>
	<string>hypergaragesale-b7353</string>
	<key>STORAGE_BUCKET</key>
	<string>hypergaragesale-b7353.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:171815273670:ios:51797f84167083711803c7</string>
</dict>
</plist>